aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alibabacloud-credentials==0.3.6
alibabacloud-endpoint-util==0.0.3
alibabacloud-fc-open20210406==2.0.11
alibabacloud-fc20230330==4.1.6
alibabacloud-gateway-fc-util==0.0.4
alibabacloud-gateway-spi==0.0.2
alibabacloud-imagesearch20210501==1.2.3
alibabacloud-imageseg20191230==3.0.1
alibabacloud-openapi-util==0.2.2
alibabacloud-openplatform20191219==2.0.0
alibabacloud-oss-sdk==0.1.0
alibabacloud-oss-util==0.0.6
alibabacloud-sts20150401==1.1.4
alibabacloud-tea==0.4.0
alibabacloud-tea-fileform==0.0.5
alibabacloud-tea-openapi==0.3.12
alibabacloud-tea-util==0.3.13
alibabacloud-tea-xml==0.0.2
aliyun-fc2==2.5.2
aliyun-log-python-sdk==0.9.13
aliyun-mns-sdk==1.2.1
aliyun-python-sdk-cdn==3.8.8
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-core-v3==2.13.33
aliyun-python-sdk-dds==3.7.21
aliyun-python-sdk-ecs==4.24.79
aliyun-python-sdk-fnf==1.8.3
aliyun-python-sdk-imm==2.1.17
aliyun-python-sdk-iot==8.59.0
aliyun-python-sdk-kms==2.16.5
aliyun-python-sdk-ram==3.3.0
aliyun-python-sdk-rds==2.7.49
aliyun-python-sdk-sts==3.1.2
aliyun-python-sdk-vpc==3.0.46
async-timeout==5.0.1
attrs==24.3.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cloudevents==1.11.0
cryptography==44.0.0
dateparser==1.2.0
deprecation==2.1.0
elastic-transport==8.17.0
elasticsearch==8.17.0
frozenlist==1.5.0
idna==3.10
jmespath==0.10.0
multidict==6.1.0
packaging==24.2
propcache==0.2.1
protobuf==5.29.2
pycparser==2.22
pycryptodome==3.21.0
pyOpenSSL==24.3.0
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.11.6
requests==2.32.3
six==1.17.0
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.3.0
websocket-client==1.8.0
yarl==1.18.3